USE [master]
GO
/****** Object:  Database [bYteMe]    Script Date: 11-Aug-16 2:53:41 PM ******/
CREATE DATABASE [bYteMe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bYteMe', FILENAME = N'C:\Users\Mirela\bYteMe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bYteMe_log', FILENAME = N'C:\Users\Mirela\bYteMe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bYteMe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bYteMe]
GO
USE [bYteMe]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11-Aug-16 2:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [varbinary] (MAX) NOT NULL,
	[Description] [ntext] NOT NULL,
	[RequiredDislikes] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Photos]    Script Date: 11-Aug-16 2:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[AuthorId] [int] NOT NULL,
	[PhotoId] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [varbinary] (MAX) NOT NULL,
	[Description] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Posts]    Script Date: 11-Aug-16 2:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[AuthorId] [int] NOT NULL,
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Body] [ntext] NOT NULL,
	[Date] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 11-Aug-16 2:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PasswordHash] [varbinary](64) NOT NULL,
	[ProfilePhoto] [varbinary] (MAX) NOT NULL,
	[Biography] [ntext] NULL,
	[Likes] [int] NULL,
	[Dislikes] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [UK_Orders]    Script Date: 11-Aug-16 2:53:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Orders] ON [dbo].[Orders]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_Users]    Script Date: 11-Aug-16 2:53:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Users] ON [dbo].[Users]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_Photos_Users] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_Photos_Users]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Users] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Users]
GO
USE [master]
GO
