html {
  overflow-y: scroll;
}

body {
    font-weight: bold;
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
}

dl {
    background: #13232f;
    padding: 20px;
    max-width: 1000px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    overflow: auto;
}

h4 {
    text-align: center;
    padding: 15px;
    color: white;
    
}

dt, dd {
    color: white;
}

.action-link {
    color: #1ab188;
}
.action-link:active {
    color: #1ab188;
}
.action-link:link {
    color: white;
}
.action-link:hover {
    color: white;
}
.action-link:visited {
    color: #1ab188;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}