@{
    ViewBag.Title = "потвърждаване на имейл";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Благодарим ви, че потвърдихте имейла си. Моля @Html.ActionLink("кликнете тук за вход.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
