@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка. Нищо не зависи от теб, ходи пий една бира.</h2>

