@model bYteMe.Post

@{
    ViewBag.Title = "изтриване";
}

<h2>изтриване</h2>

<h3>Сигурен ли си, че искаш да затриеш това?</h3>
<div>
    @*<h4>публикация</h4>*@
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="трий" class="btn btn-default" /> |
            @Html.ActionLink("назад към публикации", "Index")
        </div>
    }
</div>
