@model bYteMe.Post

@{
    ViewBag.Title = "детайли";
}

<h2>детайли</h2>

<div>
    @*<h4>Post</h4>*@
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("редактиране", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("назад към публикации", "Index")
</p>
