html {
    overflow-y: scroll;
}

body {
    padding: 120px;
    background: #c1bdba;
    font-family: 'Tahoma', sans-serif;
}

.photos {
    background: #13232f;
    padding: 20px;
    max-width: 1000px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    overflow: auto;
}

.image {
    /*width: 200px;*/
    float: left;
    margin: 5px 99px 30px 10px;
}

.text {
    /*margin-left: 400px;*/
}

p {
    color: white;
    font-weight: bold;
    text-align: center;
}

div {
    display: block;
    color: white;
}

.add-photo-button {
     list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    content: "";
    display: table;
    clear: both;
    display: block;
    text-decoration: none;
    padding: 1px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: right;
    width: 20%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
    .add-photo-button:hover {
        background: #179b77;
        color: #ffffff;
    }

.footer {
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}