@{
    ViewBag.Title = "за нас";
}
    <h2>@ViewBag.Title</h2>
<div>
    @ViewBag.DescriptionText
    <img id="orderImg" class="cut-out" src="~/images/" />
    <p>Отбор Rakija: </p>
    <span><a href="https://facebook.com/profile.php?id=1729844621">Иван Иванов</a></span>,
    <span><a href="https://facebook.com/mirela95">Мирела Дамянова</a></span>,
    <span><a href="https://facebook.com/tomislav.tashev">Томислав Ташев</a></span>
</div>