@{
    ViewBag.Title = "about";
}
    @*List<string>
    urlMembers = new List<string>
        {
        "https://web.facebook.com/profile.php?id=1729844621",
        "https://web.facebook.com/mirela95",
        "https://web.facebook.com/tomislav.tashev"
        };

        var imgPaths = new string[3];*@
    <h2>за нас</h2>
<div>
    @ViewBag.DescriptionText
</div>
