body {
    background-image: url('../images/site-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #13232f;
}

/*TODO: Style text*/
.text {   
    color: #1ab188;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    padding: 9px 18px 9px;
    text-decoration: none;
    
}

.text :hover {
    color: white;
    outline: none;
    outline-offset: 0;
    text-decoration: none;
    cursor: default;
}

#title {
    letter-spacing: 10px;
    line-height: 3;
    word-spacing: 10px;
    font-size: 80px;
     text-shadow: 2px 2px 5px #13232f, 0 0 25px #13232f, 0 0 5px #13232f
}

#subtitle {
    letter-spacing: 2px;
    line-height: 4;
    word-spacing: 3px;
    font-size: 26px;
    text-shadow: #13232f 0px 0px 1px,  #13232f 0px 0px 1px,   #13232f 0px 0px 1px,
            #13232f 0px 0px 1px,  #13232f 0px 0px 1px,  #13232f 0px 0px 1px;
}
/*font-size: 40px;
    color: black;
    text-align: center;
    letter-spacing: 3px;
    line-height: 0.8;
    word-spacing: 5px;*/