body {
    background-image: url('../images/site-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #13232f;
}

/*TODO: Style text*/
.text {
    font-size: 40px;
    color: black;
    text-align: center;
    letter-spacing: 3px;
    line-height: 0.8;
    word-spacing: 5px;
}