html {
  overflow-y: scroll;
}

body {
  padding: 120px;
  background: #c1bdba;
  font-family: 'Tahoma', sans-serif;
}

.profile-info {
  background: #13232f;
  padding: 20px;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  overflow: auto;
}

.image {
    float: left;
    margin: 5px 99px 30px 10px;
}

p {
    color: white;
}

div {
    display: block;
    color: white;
}

.gallery-button {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.gallery-button {
  content: "";
  display: table;
  clear: both;
}

.gallery-button {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float:none;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.gallery-button:hover {
  background: #179b77;
  color: #ffffff;
}