@{
    ViewBag.Title = "начало";
}

<!DOCTYPE html>
<head>
    <title>
        начало
    </title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Href("~/Content/HomeStyle.css")" /> 
</head>
<body>
<div class="text">
    <br/>
    <p id="title">@ViewBag.SiteTitle</p><br/>
    <p id="subtitle">@ViewBag.Subtitle</p>
</div>
</body>