@{
    ViewBag.Title = "home";
}

<head>
    <title>
        home page
    </title>
    <link rel="Stylesheet" href="@Href("~/Content/HomeStyle.css")" /> 
</head>
<body>
<div class="text">
    <p id="title">@ViewBag.SiteTitle</p><br/>
    <p id="subtitle">@ViewBag.Subtitle</p>
</div>
</body>